<% if (title) { %>
  <h1><%= title %></h1>
  <% } else {
    res.redirect('/')
  } %>

<%- messages() %>

<% if (errors) { %>
<ul class="notice">
<% errors.array().forEach(error => { %>
 <li><%= error.msg %></li>
<%  }) %>
</ul>
<% } %>

        
<div id="formContainer" class="formContainer">
    <form id="updateForm" class="form" action="/emp/update_employee" method="POST">

        <label for="emp_fname">First Name:</label>
        <input type="text" name="emp_fname" id="emp_fname" placeholder="Min of two characters"
        required value="<%= locals.emp_fname %>">

        <label for="emp_mname">Middle Name:</label>
        <input type="text" name="emp_mname" id="emp_mname" placeholder="Min of two characters"
        required value="<%= locals.emp_mname %>">

        <label for="emp_lname">Last Name:</label>
        <input type="text" name="emp_lname" id="emp_lname" placeholder="Min of two characters"
        required value="<%= locals.lname %>">

        <label for="emp_bdate">Birth Date:</label>
        <input type="date" name="emp_bdate" id="emp_bdate" placeholder="15/06/2000"
        required value="<%= locals.emp_bdate %>">
        
        <label for="emp_hdate">Hire Date:</label>
        <input type="date" name="emp_hdate" id="emp_hdate" placeholder="15/10/2023"
        required value="<%= locals.emp_hdate %>">

        <label for="emp_image">Image Path:</label>
        <input type="text" name="emp_image" id="emp_image" 
        required value="/images/employees/no-image.png">

        <label for="emp_thumbnail">Thumbnail Path:</label>
        <input type="text" name="emp_thumbnail" id="emp_thumbnail" 
        required value="/images/employees/no-image.png">

        <label for="emp_pnumber">Phone Number:</label>
        <input type="number" name="emp_pnumber" id="emp_pnumber" placeholder="(111) 111 1111"
        required value="<%= locals.emp_pnumber %>">

          <input type="hidden" name="emp_id"
          <% if(locals.emp_id) { %> value="<%= locals.emp_id %>"
          <% } %>>
          
        <button type="submit" disabled>Update Employee</button>
        </fieldset>
    </form>
</div>

<script src="/js/inv-update.js"> </script>